<%= form_for(@httpdatum) do |f| %>
  <% if @httpdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@httpdatum.errors.count, "error") %> prohibited this httpdatum from being saved:</h2>

      <ul>
      <% @httpdatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :remote_ip %><br>
    <%= f.text_field :remote_ip %>
  </div>
  <div class="field">
    <%= f.label :request_method %><br>
    <%= f.text_field :request_method %>
  </div>
  <div class="field">
    <%= f.label :query_string %><br>
    <%= f.text_field :query_string %>
  </div>
  <div class="field">
    <%= f.label :query_params %><br>
    <%= f.text_field :query_params %>
  </div>
  <div class="field">
    <%= f.label :request_id %><br>
    <%= f.number_field :request_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
