<p id="notice"><%= notice %></p>

<p>
  <strong>Remote ip:</strong>
  <%= @httpdatum.remote_ip %>
</p>

<p>
  <strong>Request method:</strong>
  <%= @httpdatum.request_method %>
</p>

<p>
  <strong>Query string:</strong>
  <%= @httpdatum.query_string %>
</p>

<p>
  <strong>Query params:</strong>
  <%= @httpdatum.query_params %>
</p>

<p>
  <strong>Request:</strong>
  <%= @httpdatum.request_id %>
</p>

<%= link_to 'Edit', edit_httpdatum_path(@httpdatum) %> |
<%= link_to 'Back', httpdata_path %>
